<ion-view view-title="Dashboard">
  <ion-content>
    <h1>Dashboard</h1>



    <div class="control">

    	<select ng-model="control.escola">
    	  <option ng-repeat="escola in escolas" value="{{ escola.id }}">
    	  	{{ escola.name }}
    	  </option>
    	</select>

    	<div>

    		<label class="checkbox" ng-repeat="quesito in control.quesitos">
    		  <input ng-model="quesito.enabled" type="checkbox">
    		  {{ quesito.label }}
    		</label>
    	</div>
    </div>


  </ion-content>
</ion-view>
