/* Empty. Add your own CSS if you like */
path {

	stroke: gray;
	stroke-width: 3px;
	fill: none;
}

path.area {
	fill: purple;
	fill-opacity: 0.7;
}

path.videoMinutes {
	stroke: steelblue;
}

#chart {
  width: 500px;
  height: 300px;
  border: 1px solid black;
  margin-top: 10px;
}